language: csharp
mono: none
dotnet: 2.0.0

os:
  - linux
  - osx

dist: trusty
osx_image: xcode8.3
  
before_install:  
  - if test "$TRAVIS_OS_NAME" == "osx"; then ulimit -n 2048; fi
  
before_script:
  - dotnet restore

script:
  - dotnet test test/stashbox.tests.csproj -c Release -f netcoreapp2.0
